/****************************/
/* TABLE OF CONTENTS */
/****************************/
/*
 * GLOBAL STYLES
 * HEADER STYLES
 * SIDENAV STYLES
 * MAIN STYLES
 * FOOTER STYLES
 * INFO MODAL STYLES
 * MEDIA STYLES
 */

/* GLOBAL STYLES */
body {
  font-family: 'Montserrat', sans-serif;
}

table,
tr,
td {
  border: 1px solid #22a5c8;
}

table {
  border-collapse: collapse;
  margin: auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

.btn {
  display: block;
  width: 80%;
  margin: auto;
  padding: 0.8em 1.5em 0.8em 1.5em;
  border: 1px solid #151c38;
  background-color: transparent;
  color: #24d9ff;
  font-size: 1em;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #151c38;
}

.btn:focus {
  outline: none;
}

/* HEADER STYLES */
.header {
  background-color: #1c2746;
  box-shadow: 0 15px 35px #13203e;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header__icon {
  align-self: center;
  padding-left: 0.5em;
  cursor: pointer;
}

.header__icon i {
  color: #24d9ff;
  font-size: 2em;
}

.header__title {
  color: #24d9ff;
  font-weight: 200;
  justify-self: end;
  align-self: center;
  padding-right: 0.5em;
}

.header__title h1 {
  margin: 0;
}

/* SIDENAV STYLES */
.nav {
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  height: 100%;
}

.nav__inner {
  display: grid;
  overflow-y: scroll;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 40px 350px 150px;
  background-color: #222e5a;
  border-right: 2px solid #151c38;
  padding-right: 17px;
  height: 100%;
  width: 100%;
}

.nav__icon {
  justify-self: end;
  align-self: center;
  padding-right: 0.5em;
  cursor: pointer;
}

.nav__icon i {
  color: #24d9ff;
  font-size: 2em;
}

.nav__form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-bottom: 2px solid #151c38;
}

.nav__form__grid {
  grid-template-rows: auto 2em 2em 2em 2em 4em 4em 2em;
}

.nav__form__project {
  grid-template-rows: auto auto 2em;
}

.nav__form__title {
  color: #24d9ff;
  justify-self: center;
  align-self: center;
}

.nav__form label,
.nav__form input {
  color: #24d9ff;
  width: 80%;
  margin: auto;
  cursor: text;
}

.nav__form label {
  font-size: 1.2em;
  position: relative;
  top: -34px;
  transition: 0.4s;
  z-index: 2;
}

.nav__form input:focus + label {
  top: -54px;
  font-size: 0.8em;
  font-weight: 600;
  color: #151c38;
}

.nav__form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #24d9ff;
  font-size: 1em;
  transition: 0.4s;
}

.nav__form input:focus {
  outline: none;
  border-color: #151c38;
}

input::-webkit-inner-spin-button {
  display: none;
}

.nav__colorpicker {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 65px 100px 320px 220px;
}

.nav__colorpicker__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px;
}

.nav__colorpicker__title {
  color: #24d9ff;
  justify-self: center;
  align-self: center;
}

.nav__colorpicker__subtitle {
  color: #0078eb;
  align-self: center;
  justify-self: center;
}

.nav__colorpicker__preview {
  background-color: #fff;
  width: 45%;
  height: 30px;
  align-self: center;
  justify-self: center;
  padding: 0.9em 0.5em 0 1em;
}

.nav__colorpicker__picker {
  align-self: center;
  justify-self: center;
  cursor: crosshair;
}

.nav__colorpicker__controls {
  width: 300px;
  margin: auto;
}

.nav__colorpicker__controls div {
  width: 100%;
}

.nav__colorpicker__controls p {
  color: #24d9ff;
  width: 100%;
}

.nav__colorpicker__controls p span {
  justify-self: end;
  color: #0078eb;
}

/* MAIN STYLES */
.main {
  background-color: #222d51;
  display: grid;
}

.main__inner {
  display: block;
  padding: 1em;
  align-self: center;
  justify-self: center;
  background-color: rgba(42, 53, 90, 0.92);
  box-shadow: 0 15px 35px #13203e;
  border-radius: 5px;
}

.main_inner table {
  background-color: #1c2746;
}

/* FOOTER STYLES */
.footer {
  background-color: #1c2746;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__social {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
  padding-top: 0.5em;
  max-height: 40px;
}

.footer__social li {
  height: 45px;
  width: 45px;
  justify-self: center;
  align-self: center;
}

.footer__social li a i {
  font-size: 2em;
  color: #24d9ff;
}

.footer__desc {
  color: #24d9ff;
  font-size: 1.3em;
  font-weight: 200;
  justify-self: end;
  align-self: center;
  padding-right: 0.5em;
}

/* INFO MODAL STYLES */
.info {
  display: none;
}

.info__icon {
  position: absolute;
  right: 20px;
  top: 90px;
  margin-right: 0.5em;
  background-color: #1c2746;
  border: 2px solid #1d2846;
  border-radius: 50%;
  width: 2.3em;
  height: 2.3em;
  display: grid;
  box-shadow: 0 15px 35px #13203e;
  cursor: pointer;
}

.info__icon i {
  color: #24d9ff;
  font-size: 1.6em;
  justify-self: center;
  align-self: center;
}

.info__modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  transform: scale(0);
  transition: 0.4s cubic-bezier(0, 0.5, 0.57, 0.99);
}

.info__modal-show {
  transform: scale(1);
  width: 100%;
}

.info__modal__inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 50px auto;
  position: relative;
  top: calc(100% - 91%);
  width: 75%;
  height: 78%;
  background-color: #1c2746;
  border: 2px solid #1d2846;
  border-radius: 5px;
  box-shadow: 0 15px 35px #13203e;
  margin: auto;
}

.info__modal__inner__icon {
  justify-self: end;
  align-self: center;
  padding-right: 0.5em;
  cursor: pointer;
}

.info__modal__inner__icon i {
  color: #24d9ff;
  font-size: 2em;
}

.info__modal__inner__content {
  color: #24d9ff;
  padding: 2em;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.info__modal__inner__content-show {
  opacity: 1;
}

.info__modal__inner__content__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info__modal__inner__content__list li {
  margin: 0.5em 0 0.5em 0;
}

.info__modal__inner__content__list li strong {
  font-weight: 800;
  font-size: 1.2em;
}

.info__modal__inner__content__list-nested {
  color: #4599ab;
  list-style: none;
}
/* MEDIA STYLES */
@media screen and (max-width: 414px) {
  .header__title {
    font-size: 0.7em;
  }

  .footer__desc {
    font-size: 0.7em;
  }

  tr,
  td {
    width: 12px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .info {
    display: grid;
  }

  .info__modal__inner__content {
    padding: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .info__modal__inner__content__list li p {
    margin: 0;
  }
  .info__icon {
    top: 66px;
    right: -3px;
  }
}
